
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}


/* Index Page Styles */
.body{
    padding-bottom: 60px;
    background-color: rgb(29, 53, 29); 

}
/* nav bar */
#logo {
    position: absolute;
    left: 10px;
    font-size: 28px;        
    font-weight: 800;       
    font-family: 'Poppins', Arial, sans-serif;  
    }

#word1 {
      color: #ffffff; 
    }

#word2 {
      color: #f2ff00; 
}

#navbar {
    display: flex;           
    justify-content: center; 
    align-items: center;     
    padding: 20px;      
    background-color: rgb(29, 53, 29);     
}


.nav-list {
    list-style: none;       
    display: flex;           
    gap: 20px;               
}


.nav-list li a {
    text-decoration: none;
    color: #ffffff;             
    font-weight: bold;       
    font-family: 'Poppins', Arial, sans-serif;
}
.nav-list li a:hover {
    color: #ffff00;          
}
/* end nav bar ---------------- */
/* hero section */
#hero {
    margin-bottom: 10px;
    background-image: url('images/home-bg.jpg'); 
    background-size: cover;
    height: 640px; 
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.5);
}
#hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
#hero h1 {
    color: #fff;
    font-size: 28px;        
    font-weight: 800;   
    padding-bottom: 0px; 
    font-family: 'Poppins', Arial, sans-serif; 
}

#hero p {
    color: #fff;
    font-size: 18px;        
    font-weight: 400;    
    font-family: 'Poppins', Arial, sans-serif; 
}

#btn {
    text-decoration: none;
     background-color: rgb(29, 53, 29); 
    color: #ffffff;
    padding: 10px;
    border-radius: 5px;
    font-size: 20px;
}
/* end of hero -------------------- */

/* Categories */

#category { 
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    
}
.category:hover {
    box-shadow:  0 0 10px #000000;
    transform: translateY(-10px);
    transition: all 0.3s ease;
}   

#category h2 {
    color: #333;
    font-size: 42px;
    font-family: 'Poppins', Arial, sans-serif;
    padding: 25px;
}

.category {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    box-shadow: #050303 solid 1px;
    border-radius: 10%;
}

.categories{
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 20px;
    
}
.category-image {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    padding: 10px;
}
.category p {
    font-size: 18px;
    color: #333;
    padding: 10px;
}

/* end categories --------------- */
/* footer */

footer {
    position: static;
    bottom: 0;
    left: 0;
    width: 100%;
    /* height: 100vh; */

    color: #ffffff;
    text-align: center;

    padding: 15px 20px;
    font-size: 20px;
    justify-content: center;
    align-items: center;     
    padding: 20px;      
    background-color: rgb(29, 53, 29); 
}

/* end footer------------------- */

/* ------------------------ END Index Page Styles------------------- */

/* Products page Styles */
#Products { 
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

#Products h2 {
   color: #333;
    font-size: 42px;
    font-family: 'Poppins', Arial, sans-serif;
    padding: 25px;
}

.product {
     display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    box-shadow: #050303 solid 1px;
    border-radius: 10%;


}
.product:hover {
    transform: translateY(-10px);
    box-shadow:  0 0 10px #000000;
    transition: all 0.3s ease;

}
.Products-list{
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 20px;
    
}
.product img {
      width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    padding: 10px;

}
.product p {
    font-size: 18px;
    color: #333;
    padding: 10px;
}

.product p:hover {
    color: #848484;
}

.buy-now {
  background-color: #008000; 
  color: #ffffff;
  border: none;
  padding: 14px 32px;
  font-size: 12px;
  font-weight: 600;
  border-radius: 30px;
    cursor: pointer;
     transition: all 0.3s ease;

}

.buy-now:hover {
  background-color: #e0b000;

}
/* ------------------------ END product Page Styles------------------- */


/* Contact Page Styles */
#formdiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    gap: 20px;
}
#formdiv h2 {
    color: #333;
    font-size: 42px;
    font-family: 'Poppins', Arial, sans-serif;
}
#contact {
    padding: 50px;
    width: 75%;
    display: flex;
    background-color: #d5d5d5;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    align-items: left;
    text-align: left;
    flex-direction: column;
    gap: 1px;
    border-radius: 15px;
}

#contact textarea {
    width: 100%;
    height: 100px;
    /* padding: 10px; */
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
}
#contact input {
    width: 100%; 
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
#contact label {
    font-size: 18px;
    color: #333;
    padding: 10px 0;
}
#contact button{
    background-color: #008000; 
  color: #ffffff;
  border: none;
  padding: 14px 32px;
  font-size: 12px;
  font-weight: 600;
  border-radius: 30px;
    cursor: pointer;
     transition: all 0.3s ease;
}

#contact button:hover {
  background-color: #e0b000;

}

/*-------------------------------END Contact Page Styles ---------------------- */

/* Galley Page Styles */
#gallery {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    padding: 50px ;
    margin-bottom: 150px;
}
#gallery h2 {
    color: #333;
    font-size: 32px;
    margin: 25px;
    padding: 20px;
}
.gallery-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 100%;
    justify-content: center;
    object-fit: cover;
}
.gallery-container img {
    width: 200px;
    height: 200px;
    border-radius: 5px;
    padding: 10px;
    /* border: #989898 solid 1px  ; */
}

.gallery-container img:hover {
    transform: translateY(-10px);
}


.gallery-item {
    position: relative;
    width: 300px; /* adjust */
    overflow: hidden;
}

.gallery-item img {
    width: 100%;
    display: block;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

/* Text hidden by default */
.img-text {
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    color: #000000;
    font-size: 28px;
    font-weight: 500;

    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;

    /* text shadow for readability */
    text-shadow: 0 2px 6px rgba(0,0,0,0.6);
}

/* Hover effects */
.gallery-item:hover img {
    box-shadow: 0 10px 25px rgba(0,0,0,0.25);
    transform: scale(1.02);
}

.gallery-item:hover .img-text {
    opacity: 1;
}


/* ----------------------END Galley Page Styles---------------------------- */

/* offers page styles */

#offers {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    padding: 100px;
    /* height:550px; */
}
#offers h2 {
    color: #333;
    font-size: 32px;
    margin: 25px;
}
#offer-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 100%;
    justify-content: center;
    object-fit: cover;
}
.offer {
    width: 1200px;
    height: 200px;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    justify-content: center;
    border: #989898 solid 1px  ;
}

.offer h3 {
    color: #333;
    font-size: 24px;
    margin: 25px;
    background-color: #e0b000;
}
/* ----------------------END Offers page styles---------------------------- */

