div span:nth-child(2) {
    color: red;
}
img {
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 5px;
    border-radius: 50%;
}
#trial:hover {
    /* border: 5px solid rgb(0, 0, 0); */
    transform:translateX(500px);
    
}

#auto {
    /* width: 300px; */
    /* height: 200px; */
    width: 400px;
    height: 400px;
    border: 1px solid black;
    background-image: url("../images/dairy.jpg");
    background-size: auto;
    background-repeat: no-repeat;
}
#contain {
    width: 400px;
    height: 400px;
    background-image: url(../images/dairy.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}
#cover {
   width: 400px;
    height: 400px;
    background-image: url(../images/dairy.jpg);
    background-size: cover;   
    background-repeat: no-repeat;
}

#padding {
    background-color: lightblue;
    padding: 50px;
}
#margin {
    background-color: lightblue;
    margin: 50px;
}

#imgfloat{
    float: right;
    margin-right: 15px;
    width: 200px;
    height: 200px;
}
#parent
{
    width: 200px;
    height: 200px;
    background-color: lightblue;
    padding: 10px;
    position: static;
}

#parent div
{
    height: 50px;
}
#one{
    background-color: tomato;
    /* position: left; */
  
}
#two{
    background-color: gold;
    position :sticky;
    bottom: 0px;
}
#three{
    background-color: darkviolet;
    position: fixed;
    top: 10px;
    left: 20px;

}

#flex{
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}

#flex div{
    width: 100px;
    height: 100px;
    border: 1px solid black;
}